# Gradle
.gradle/
/build
**/build

# Local configuration file (sdk path, etc)
local.properties

# Log files
*.log

# Android Studio
.idea/
.idea/workspace.xml
.idea/libraries
.idea/modules.xml
.idea/.name
.idea/*.iml
.idea/*.iws
.idea/misc.xml
*.iml

# User-specific configurations
.DS_Store
.vscode/

# Other
*.apk
*.ap_
*.hprof
